.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #520000;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 86px;
  top: 55px;
  width: 180px;
  height: 77px;
}
.menu-items {
  display: flex;
  flex-direction: row;
  gap: 66px;
  align-items: center;
  justify-content: flex-start;
  width: 189px;
  height: 49px;
  position: absolute;
  left: 838px;
  top: 45px;
}
.homepage {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.body {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1246px;
  position: absolute;
  left: 97px;
  top: 277px;
}
.bmgt-407-info-systems-projects {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-the-class-happens-on-thursdays {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  height: 101px;
}
.professor-paul-t-shapiro {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
